/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #97EACF;
    opacity: 1;
    z-index: 8;
}

/* Navbar links */
#navbar a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    font-size: 15px;
}
#navbar a:hover{
    color: #ffffff;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 40% ; 
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 16px;
}

.intro_container{
    height: 100vh;
    width: 100%;
    padding: 16px;
    /*outline: solid black;*/
    vertical-align: middle;
}

.intro{
    vertical-align: middle;
}

.container4{
    outline: solid pink;
}

/**.col1{
    outline: solid peru;
}

.col3{
    outline: solid peru;
}**/

*{
    scroll-behavior: smooth;
}

.body_container{
    padding: 50px;
    background-color: #AAABB8;
    border-radius: 25px;
    margin-top: 50px;
}


/*********** TIMELINE ***********/
section {
    padding: 100px 0;
}

html, body {
    overflow-x: hidden;
}

h1 {
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}


header p {
    font-family: "Allura";
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 0;
    font-size: 60px;
    margin-top: -30px;
}

.timeline {
    position: relative;
    
    overflow: hidden;
}
.timeline::before {
    content: "";
    background: #C5CAE9;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    width: 100%;
    margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 30px 10px 30px;
}
.timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
    content: "";
    display: block;
    clear: both;
}

.timeline-content {
    position: relative;
    width: 45%;
    padding: 10px 30px;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
    width: 30px;
    height: 30px;
    background: #3F51B5;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
}

.bnt-more{
    background: #3F51B5;
    color: #FFFFFF;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}
a:hover, a:active, a:focus{
    background: #32408f;
    color: #FFFFFF;
    text-decoration: none;
}

.timeline-card {
    padding: 0 !important;
}
.timeline-card p {
    padding: 0 20px;
}
.timeline-card a {
    margin-left: 20px;
}

.timeline-item .timeline-img-header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
    background-size: cover;
}

.timeline-img-header {
    height: 200px;
    position: relative;
    margin-bottom: 20px;
}
.timeline-img-header h2{
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
    left: 20px;
}



.date {
    background: #FF4081;
    display: inline-block;
    color: #FFFFFF;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    .timeline::before {
        left: 50px;
    }
    .timeline .timeline-img {
        left: 50px;
    }
    .timeline .timeline-content {
        max-width: 100%;
        width: auto;
        margin-left: 70px;
    }
    .timeline .timeline-item:nth-child(even) .timeline-content {
        float: none;
    }
    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
        content: "";
        position: absolute;
        border-style: solid;
        width: 0;
        height: 0;
        top: 30px;
        left: -15px;
        border-width: 10px 15px 10px 0;
        border-color: transparent #f5f5f5 transparent transparent;
    }
}
/***********/


/********** CARDS ***********/
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    letter-spacing: 0.05em;
}

* {
    position: relative;
    box-sizing: border-box;
}

.box {
    width: 400px;
    height: 200px;
    color: white;
    margin: 0 auto;
    margin-bottom: 24px;
}

.box > div {
    display: flex;
    position: absolute;
    top: 0;
    width: 400px;
    height: 200px;
    background: linear-gradient(220deg, #3d45b1, #844efc);
    justify-content: space-between;
    flex-direction: column;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform-origin: top center;
    will-change: transform;
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: space-between;
}

.label {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 6px;
}

.value-right {
    text-align: right;
}

svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/** accordian text **/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/** timeline